<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.yellowvpn.plugin">
    <application
        android:theme="@style/Theme.Shadowsocks">
        <meta-data android:name="com.github.yellowvpn.plugin.version"
                   android:value="2.0.1"/>
    </application>
</manifest>
